.comment-box {
  border: 1px solid $cloud;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 14px;
  padding: 5px 10px;
  &.new-comment {
    background-color: lighten($green-light, 25);
  }
  .comment-author-name {
    font-weight: bold;
  }

  .comment-date {
    font-size: 12px;
    color: $gray;
  }
}