.comment-box {
  border: 1px solid $clouds;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 14px;
  &.new-comment {
    background-color: lighten($lightGreen, 25);
  }
  .comment-author-name {
    font-weight: bold;
  }

  .comment-date {
    font-size: 12px;
    color: $grey;
  }
}