.project-results-header {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 40px;
  background-color: $cloud;
  padding-top: 30px;
  a, button {
    border-radius: 0;
    text-decoration: none;
    color: $gray-dark;
    outline: none;
    &:focus,
    &:focus:active,
    &:hover,
    &:active {
      color: $dark;
      outline: none;
      text-decoration: none;
    }
    &.active {
      color: $black;
      font-weight: bold;
    }
  }
  .category-filter {
    float: left;
    a, button {
      padding: 11px 2px;
      margin-right: 5px;
      &.active {
        border-bottom: 2px solid $dark;
        padding-bottom: 10px;
      }
    }
  }
  .project-filters {
    padding-top: 5px;
    text-align: right;
  }
}

