.footer-bottom {
  border-top: 2px solid #eee;
  background-color: $lightGray;
  padding: 10px 0 15px 0;
  margin-top: 45px;

  .footer-header {
    padding-bottom: 10px;

    h4 {
      padding-left: 12px;
    }
  }
  .footer-link {
    color: inherit
  }
}