.start-project-step1, .start-project-step2 {
    font-family: Roboto;

    .project-status {
      .col {
        color: $status-blue;
        white-space: nowrap;
        height: 1rem;
        font-size: 14px;
        margin-right: 55px;
      }
    }

    .project-progress {
        .col {
            color: $progress;
            font-size: 2rem;

            .general-steps {
                font-size: 1.2rem;
                color: $general-steps;
            }
        }
    }

    .progress-wrapper {
        height: 0.4rem;
        background-color: $progress-bar-bg;
    }

    .progress-bar-done {
        height: 0.4rem;
        background-color: $progress-bar-done-bg;
    }

    .new-project-title > .col {
        color: $progress-bar-title;
        font-size: 3rem;
        margin-top: 5rem;
    }

    .new-project-name > .col > .project-name {
        color: $project-name-input;
        border-bottom: 2px solid $project-name-input;
        font-size: 1.1rem;
        width: 100%;
        margin-top: 3rem;
    }

    .new-project-buttons > .text-left > .btn {
        color: $new-project-prev-step;
        height: 2.5rem;
        margin-top: 4rem;
        margin-bottom: 10rem;

        i.fas {
            margin-right: 0.4rem;
        }
    }

    .new-project-buttons > .text-right > .btn {
        margin-top: 2rem;
        color: white;
        background-color: $project-name-next;
        border-color: $project-name-next;
        border-radius: 20px;
        width: 9.8rem;
        height: 2.5rem;
        margin-top: 4rem;
        margin-bottom: 10rem;
    }

    .project-category {
        margin-top: 5rem;

        .col {
            .dropdown > .category-select {
                background-color: white;
                border: solid 1px $category-dropdown-border;
                border-radius: 2px;
                height: 3em;
                font-size: 1.1rem;
                color: $category-dropdown-text;
                width: 31rem;
                text-transform: none;
                text-align: left;

                i.fas {
                    float: right;
                }
            }

            .dropdown-menu {
                width: 31rem;
                padding-top: 1rem;
                padding-bottom: 1rem;

                a > .fa {
                    visibility: hidden;
                }

                a.selected {
                    color: $category-selected;

                    .fa {
                        visibility: visible;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }

    .dropdown-toggle::after {
        display: none;
    }
}
