.start-project-step1, .start-project-step2, .start-project-step3, .start-project-step4 {
    font-family: Roboto;

    .project-status {
      .col {
        color: $status-blue;
        white-space: nowrap;
        height: 1rem;
        font-size: 14px;

        .green-button {
            border: 1px solid $status-green;
            border-radius: 2px;
            background-color: white;
            color: $button-green-text;
            padding: 6px 3rem;
            margin-right: 10px;
            text-transform: uppercase;
        }

        .green-button.submit {
            background-color: $button-green-text;
            color: white;
        }
      }
    }

    .project-progress {
        .col {
            color: $progress;
            font-size: 2rem;

            .general-steps {
                font-size: 1.2rem;
                color: $general-steps;
            }
        }
    }

    .progress-wrapper {
        height: 0.4rem;
        background-color: $progress-bar-bg;
    }

    .progress-bar-done {
        height: 0.4rem;
        background-color: $progress-bar-done-bg;
    }

    .new-project-title > .col {
        color: $component-label;
        font-size: 3rem;
        margin-top: 5rem;
    }

    .new-project-name > .col > .project-name {
        color: $project-name-input;
        border-bottom: 2px solid $project-name-input;
        font-size: 1.1rem;
        width: 100%;
        margin-top: 3rem;
    }

    .new-project-buttons > .button-left {
        text-align: left;

        .btn {
            color: $new-project-prev-step;
            height: 2.5rem;
            margin-top: 4rem;
            margin-bottom: 10rem;

            i.fas {
                margin-right: 0.4rem;
            }
        }
    }

    .new-project-buttons > .button-right {
        text-align: right;

        .btn {
            margin-top: 2rem;
            color: white;
            background-color: $project-name-next;
            border-color: $project-name-next;
            border-radius: 20px;
            width: 9.8rem;
            height: 2.5rem;
            margin-top: 4rem;
            margin-bottom: 10rem;
        }

        .blue-button {
            background-color: $submit-color;
            border-color: $submit-color;
        }
    }

    .project-category {
        margin-top: 5rem;

        .col {
            .dropdown {
                width: 100%;
            }

            .category-select {
                background-color: white;
                border: solid 1px $component-border;
                border-radius: 2px;
                height: 3em;
                font-size: 1.1rem;
                color: $category-dropdown-text;
                width: 100%;
                text-transform: none;
                text-align: left;

                i.fas {
                    float: right;
                }
            }

            .dropdown-menu {
                width: 100%;
                padding-top: 1rem;
                padding-bottom: 1rem;

                a > .fa {
                    visibility: hidden;
                }

                a.selected {
                    color: $category-selected;

                    .fa {
                        visibility: visible;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }

    .dropdown-toggle::after {
        display: none;
    }
}

.start-project-step3 {
    .project-description-label > .col {
        padding-top: 4rem;
    }

    .project-description-label > .col, .project-files-label > .col {
        color: $component-label;
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    .project-description > .col {
        height: 24rem;

        .description-wrapper {
            height: 90%;
            border-radius: 4px;
            border: 2px solid $container-wrapper-border;
            overflow: auto;

            .description-editor {
                height: inherit;
                padding-left: 1rem;
                line-height: 1rem;
                max-height: 75%;
            }
        }
    }

    .project-images {
        .col {
            height: 17rem;
        }

        .project-image > .fileUploader {
            background-color: $upload-background;
            border: 2px solid $container-wrapper-border;
            border-radius: 4px;
            text-align: center;
            padding-top: 2rem;
            color: $upload-color;
            min-height: 14rem;
            max-height: 14rem;
            overflow: auto;

            .dropzone:focus {
                outline: none;
            }

            .dropzone {
                .upload-title {
                    font-size: 2rem;
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;

                    :focus {
                        ouline: none;
                    }
                }

                .upload-description {
                    font-size: 1rem;
                    display: block;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                .uploaded-image {
                    margin-top: 4rem;
                    display: block;
                    color: $fnd-gray;

                    .fas {
                        margin-left: 10px;
                        color: black;
                        cursor: pointer;
                    }
                }

                .uploaded-attachments {
                    display: block;
                    color: $fnd-gray;

                    .fas {
                        margin-left: 10px;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .project-video {
        .col {
            height: 17rem;
        }

        .uploaded-video > .fileUploader {
            background-color: $upload-background;
            border: 2px solid $container-wrapper-border;
            border-radius: 4px;
            text-align: center;
            padding-top: 2rem;
            color: $upload-color;
            min-height: 14rem;
            max-height: 14rem;
            overflow: auto;

            .dropzone:focus {
                outline: none;
            }

            .dropzone {
                .upload-title {
                    font-size: 2rem;
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;

                    :focus {
                        ouline: none;
                    }
                }

                .upload-description {
                    font-size: 1rem;
                    display: block;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                .uploaded-video {
                    margin-top: 4rem;
                    display: block;
                    color: $fnd-gray;

                    .fas {
                        margin-left: 10px;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.start-project-step4 {
    .project-price-label > .col, .due-date-label > .col {
        color: $component-label;
        font-size: 1rem;
        padding-bottom: 1rem;

    }

    .project-price > .col {
        .price-input {
            width: 100%;
            border-radius: 2px;
            border: 1px solid $component-border;
            padding-left: 10px;
            color: $step4-input-text;
        }
    }

    .donate-more > .col {
        padding-top: 2rem;
        margin-bottom: 2rem;

        .donate-more-input {
            cursor:pointer;
            height: 30px;
            width: 30px;
            border-radius: 2px;
            border: 1px solid $component-border;
        }

        .donate-label {
            padding-left: 1rem;
            padding-top: 4px;
            text-transform: capitalize;
        }
    }

    .due-date > .col {
        .DayPickerInput {
            width: 55%;
            margin-right: 22px;

            input {
                border-radius: 2px;
                border: 1px solid $component-border;
                padding-left: 10px;
                color: $step4-input-text;
                height: 2rem;
                width: 100%;
            }
        }

        .hour-input {
            border: 1px solid $component-border;
            border-radius: 2px;
            padding-left: 10px;
            color: $step4-input-text;
            width: 40%;
            height: 2rem;
        }
    }
}

input.invalid {
    border-color: $fnd-red !important;
}

span.invalid {
    color: red;
    font-weight: bold;
}

.m-checkbox {
    display: block;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
    font-size: 1rem;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        border: 1px solid $component-border;
        border-radius: 2px;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}

.m-checkbox .checkmark:after {
    left: 8px;
    top: 3px;
    width: 11px;
    height: 18px;
    border: solid $button-green-text;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input.due-date-picker {
    border-radius: 2px;
    border: 1px solid $component-border;
    padding-left: 10px;
    color: $step4-input-text;
    height: 2rem;
    padding-right: 2.7rem;
    font-size: 1rem;
}

input.due-date-picker:focus {
    border-color: $component-border;
}

input.due-time-picker {
    border-radius: 2px;
    border: 1px solid $component-border;
    color: $step4-input-text;
    height: 2rem;
    font-size: 1rem;
    padding-left: 10px;
    width: 11rem;
}

input.due-time-picker:focus {
    border-color: $component-border;
}

.react-datepicker__time-container {
    width: 6rem;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 6rem;
}

.date-picker-component {
    width: 50%;
    display: inline-block;
}
