.project-page {

  .project-title {
    padding-bottom: 15px;
    h1 {
      color: $dark;
    }
  }

  .project-author {
    span {
      padding-right: 7px;
      margin-right: 7px;
      border-right: 1px solid $gray;

      &:last-child {
        border-right: none;
      }
    }
  }

  .project-stats {
    padding-top: 60px;
    color: $dark;
  }

  .project-header {
    padding: 50px 0;
    color: inherit;
    background-color: $cloud;
    .img {
      width: 100%;
      height: 320px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  .project-content {
    font-size: 18px;
    font-weight: 200;
    padding: 45px 0 30px 0;

    .form-comment {
      margin-top: 25px;
    }
  }

  .project-nav {
    border-bottom: 1px solid #eee;
    background-color: $cloud;

    nav {
      position: relative;
      top: 1px;
      margin-top: 10px;
      a {
        float: left;
        padding: 8px 15px 11px;
        color: #586069;
        white-space: nowrap;
        border: solid transparent;
        border-width: 3px 1px 1px;
        border-radius: 3px 3px 0 0;

        &.active {
          font-weight: 600;
          color: #24292e;
          background-color: #fff;
          border-color: $gray #eee transparent;
        }
      }
    }
  }

  .project-footer {
    padding: 25px 0;

    .form-comment {
      margin-bottom: 20px;
    }

    .project-comment-input {
      margin-bottom: 25px;
    }
  }

  .attachment {
    padding: 10px 0 0 0 ;
    height: 180px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    img{
      height: 125px;
      width: auto;
    }
  }

  .alert {
    margin-bottom: 5px;
    padding: 10px 15px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.pledge-modal {
  .modal-body {
    button {
      margin: 5px;
    }
  }
}
