
.project-results {
  margin-top: 50px;
  .project-grid {
    border: 1px solid #eee;
    border-radius: 3px;
    height: 400px;
    padding: 10px;
    margin-bottom: 30px;
    position: relative;

    .img {
      width: 100%;
      height: 125px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .project-title {
      padding-bottom: 0px;
      margin: 10px 0 15px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-height: 23px;        /* fallback */
      max-height: 69px;
    }

    .short-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6; /* number of lines to show */
      line-height: 20px;        /* fallback */
      max-height: 120px;
    }

    .project-grid-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 25px;
      padding-right: 20px;
      background-color: white;
      z-index: -1;

      .progress {
        height: 8px;
      }
    }
  }
}

