// override

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// general

body {
    font-family: $font-family-base;  
}

// headings

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1;
}

// info block

.block-info {
  padding-top: 100px;
  padding-bottom: 100px;
  background: lighten($fnd-dark-gray, 85%);

  .stats-info {
    font-size: $font-size-xl;
    text-align: center;

    .number-info {
      color: $fnd-blue;
      font-size: 6rem;
      font-weight: bold;
    }
  }
}