
$black: #222222;
$dark: #322355;
$dark2: #373B59;

$red: #EC5C61;
$blue: #3A529F;
$gray: #BBBCBE;
$gray-dark: darken(#BBBCBE, 20%);
$gray-light: #F0F0F0;
$cloud: lighten($gray-light, 4%);

$green: #4EAA6E;
$green-dark: #318B69;
$green-light: #6CBB7C;

$orange: #F39110;
$yellow: #FBE262;
$yellow-dark: #FDC814;
$yellow-light: #FEF7D4;
