
body {
  font-family: 'WorkSans', sans-serif;
}

.container {
  max-width: 1024px;
}

.static-page {
  padding-top: 50px;
  h1 {
    text-align: left;
    margin-bottom: 40px;
  }
}

.main-content {
  min-height: 80vh;
}

.ReactModal__Overlay {
  z-index: 2;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}