@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './components/wp';
@import './vars';
@import './components/nav';
@import './components/header';
@import './components/footer';
@import './components/button';
@import './components/forms';
@import './components/filters';
@import './components/project';
@import './components/projectGrid';
@import './components/login';
@import './components/transactions';
@import './components/comment';
@import './components/spinner';
@import './components/icon';


body {
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1024px;
}

.static-page {
  padding-top: 50px;
  h1 {
    text-align: left;
    margin-bottom: 40px;
  }
}

.main-content {
  padding-top: 10px;
}

.ReactModal__Overlay {
  z-index: 2;
}
