@import './components/wp';
@import './vars';
@import './components/header';
@import './components/button';
@import './components/project';
@import './components/projectGrid';
@import './components/login';
@import './components/transactions';
@import './components/comment';
@import './components/spinner';


body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 900px;
}

.static-page {
  padding-top: 50px;
  h1 {
    text-align: left;
    margin-bottom: 40px;
  }
}

.main-content {
  padding-top: 10px;
}

.ReactModal__Overlay {
  z-index: 2;
}
