body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-content {
    padding-top: 10px;
}

.container {
    max-width: 900px;
}

.projects {
    padding-top: 60px;
}

.project-sidebar {
    padding-left: 25px;
}

.project-header {
    padding: 50px 0;
    color: inherit;
    background-color: #F8F8F8;
}

.project-header .img {
    width: 100%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.project-content {
    font-size: 18px;
    font-weight: 200;
    padding-top: 20px;
}

.project-nav {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}


.projects-results {
    margin-top: 50px;
}


.project-grid {
    border: 1px solid #eee;
    border-radius: 3px;
    height: 400px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}

.project-grid .project-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding-bottom: 0px;
}

.project-grid .project-grid-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding-right: 40px;
    background-color: white;
}

.project-grid .img{
    /*width: 100%;*/
    /*clip-path: inset(10px 20px 30px 40px);*/
    width: 100%;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.project-title {
    padding-bottom: 30px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
