@font-face {
  font-family: 'WorkSans';
  src: url(fonts/WorkSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url(fonts/WorkSans-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'WorkSans';
  src: url(fonts/WorkSans-Light.ttf);
  font-weight: 300;
}