.footer {
    background-color: $fnd-dark-gray;
    color: #eeeeee;
    padding-top: 60px;
    padding-bottom: 20px;

    .footer-links {
        cursor: pointer;
        font-weight: normal;
        line-height: 2;
    }

    .copyright {
        padding-top: 180px;
        text-align: right;
        color: #dddddd;
    }
}